<IfModule mod_rewrite.c>
RewriteEngine on
# RewriteBase /edoxi-website
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

Redirect 301	/az-900-microsoft-azure-fundamentals	/microsoft-azure-fundamentals-training
Redirect 301	/az-103-microsoft-azure-administrator	/microsoft-azure-administrator-training
Redirect 301	/az-500-microsoft-azure-security-technologies	/microsoft-azure-security-technologies-training
Redirect 301	/az-301-microsoft-azure-architect-design	/microsoft-azure-architect-design-training
Redirect 301	/az-300-microsoft-azure-architect-technologies	/microsoft-azure-architect-technologies-training
Redirect 301	/az-203-developing-solutions-for-microsoft-azure	/developing-solutions-for-microsoft-azure-training
Redirect 301	/az-400-microsoft-azure-devops-solutions	/microsoft-azure-devops-solutions-training
Redirect 301	/az-203t06-connect-to-and-consume-azure-and-third-party-services	/microsoft-azure-courses
Redirect 301	/az-300t04-a-creating-and-deploying-apps	/microsoft-azure-courses
Redirect 301	/az-300t01-deploying-configuring-infrastructure	/microsoft-azure-courses
Redirect 301	/az-301t02-a-designing-a-data-platform-solution	/microsoft-azure-courses
Redirect 301	/az-400t07-designing-a-devops-strategy	/microsoft-azure-courses
Redirect 301	/az-301t04-designing-an-infrastructure-strategy	/microsoft-azure-courses
Redirect 301	/az-301t03-designing-for-deployment-migration-and-integration	/microsoft-azure-courses
Redirect 301	/az-301t01-designing-for-identity-and-security	/microsoft-azure-courses
Redirect 301	/az-203t01-develop-azure-infrastructure-as-a-service-compute-solutions	/microsoft-azure-courses
Redirect 301	/az-203t02-develop-azure-platform-as-a-service-compute-solutions	/microsoft-azure-courses
Redirect 301	/az-200t02-develop-for-azure-storage	/microsoft-azure-courses
Redirect 301	/az-300t06-developing-for-the-cloud	/microsoft-azure-courses
Redirect 301	/az-203t03-implement-microsoft-azure-security	/microsoft-azure-courses
Redirect 301	/az-400t05-implementing-application-infrastructure	/microsoft-azure-courses
Redirect 301	/az-400t03-implementing-continuous-delivery	/microsoft-azure-courses
Redirect 301	/az-400t06-implementing-continuous-feedback	/microsoft-azure-courses
Redirect 301	/az-400t02-implementing-continuous-integration	/microsoft-azure-courses
Redirect 301	/az-400t04-implementing-dependency-management	/microsoft-azure-courses
Redirect 301	/az-400t01-implementing-devops-development-processes	/microsoft-azure-courses
Redirect 301	/az-300t02-implementing-workloads-and-security	/microsoft-azure-courses
Redirect 301	/az-203t05-monitor-troubleshoot-and-optimize-azure-solutions	/microsoft-azure-courses
Redirect 301	/az300t03-understanding-cloud-architect-technology-solutions	/microsoft-azure-courses
Redirect 301	/blog	/studyhub
Redirect 301	/blog_details/how-to-benefit-with-human-resource-management-courses-in-dubai	/studyhub-detail/how-do-you-benefit-from-studying-a-human-resource-management-course
Redirect 301	/blog_details/effective-business-communication-skills-training-in-dubai	/studyhub-detail/how-to-improve-your-business-writing-skills
Redirect 301	/blog_details/which-course-is-best-for-getting-job-in-dubai-capably	/studyhub-detail/10-best-careers-for-human-resource-management-professionals-in-dubai
Redirect 301	/blog_details/how-to-become-a-strategic-hr-professional	/studyhub-detail/6-simple-ways-to-become-a-successful-hr-professional
Redirect 301	/blog_details/IELTS-Test-Takers-Prize-2020	/studyhub
Redirect 301	/Sales-and-Marketing-Course	/certified-sales-and-marketing-course
Redirect 301	/category/management-courses-in-dubai	/category/administration-and-secretarial-courses-in-dubai
</IfModule>


# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php7_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php73"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 32M
   php_value post_max_size 8M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php73"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

<IfModule mod_expires.c>
  ExpiresActive on
 
# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"
 
# Data
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"
 
# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week"
 
# Media: images, video, audio
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"
  ExpiresByType image/webp                "access plus 1 month"
 
# Webfonts
  ExpiresByType application/x-font-ttf    "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
 
# CSS and JavaScript
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"
 
</IfModule>
