/* CSS Resets */
*, *:hover, *:focus {box-sizing:border-box;outline: none;}
 
html {font-size: 1rem;}

@media only screen and (min-width: 1400px) {
html {font-size: 1.20rem;}	
}

@media only screen and (min-width: 1600px) {
html {font-size: 1.30rem;}	
}

@media only screen and (min-width: 1900px) {
html {font-size: 1.45rem;}	
}

body, ul, p {font-family:'roboto';padding: 0;margin: 0;list-style: none;color:#666;}
a {transition:all 0.35s ease 0s;text-decoration: none;color: #666;font-size: .9rem;}
h1,h2,h3,h4,h5,h6,p {margin:0;padding:0;}
img {max-width:100%;height:auto;image-rendering: optimizespeed; aspect-ratio: attr(width) / attr(height);}

/* Containers */
section {padding-top: 3rem;padding-bottom: 3rem;}
.subpage section:nth-of-type(1) {padding-top: 2.5rem;}
@media only screen and (min-width:576px) {
section {padding-top:2.5rem;padding-bottom:2.5rem;}
}
@media only screen and (min-width:1200px) {
.subpage section:nth-of-type(1) {padding-top: 3rem;padding-bottom: 4rem;}
section {width: auto;margin:0 auto;padding-top: 7rem;padding-bottom: 7rem;}
}

/* Section Fluid */
.section-fluid {width:100%;padding-top: 3rem;padding-bottom: 3rem;}
.section-fluid .container {padding-left: 1rem;padding-right: 1rem;}
@media only screen and (min-width:576px) {
.section-fluid {padding-top: 3.5rem;padding-bottom: 3.5rem;}
}
@media only screen and (min-width:1200px) {
.section-fluid {width:100%;margin:0 auto;padding-top: 6rem;padding-bottom: 4rem;}
.section-fluid .container {width: 100%;margin:0 auto;padding: 0 90px;}	
}

@media only screen and (min-width:1400px) {
.section-fluid .container {width: 1400px;margin:0 auto;max-width:1400px;padding: 0 50px;}	
}

@media only screen and (min-width:1600px) {
.section-fluid .container {width: 1500px;margin:0 auto;max-width:1500px;}	
}

/* Containers */
.container {padding-left: 1rem;padding-right: 1rem;position: relative;}
section .container {position: relative;}

@media only screen and (min-width:1200px) {
.container {width: 100%;margin:0 auto;padding: 0 90px;}	
}

@media only screen and (min-width:1400px) {
.container {width: 1400px;margin:0 auto;max-width:1400px;padding: 0 50px;}	
}

@media only screen and (min-width:1600px) {
.container {width: 1500px;margin:0 auto;max-width:1500px}	
section .container {}
}

/* Container Fluid */
.container-fluid {padding-left:1rem;padding-right:1rem;}
@media only screen and (min-width:1200px) {
.container-fluid {width:100%;padding-left: 5rem;padding-right: 5rem;}	
}

/* Layouts */
.two-column-layout {display:flex;flex-direction: column;}
.two-column-layout .col1 {margin-bottom:2rem;}
.two-column-layout .col1 p {text-align:left !important;}
.two-column-layout .col1 .request-callback {margin-bottom: 1rem;}
.two-column-layout .col1 .booking {text-align:center;}

@media only screen and (min-width:768px) {
.two-column-layout {flex-direction: row;column-gap: 2rem;}
.two-column-layout .col1 {width:65%;}
.two-column-layout .col2 {width:35%;position: relative;}
}

@media only screen and (min-width:1200px) {
.two-column-layout {column-gap: 4rem;}
.two-column-layout .col1 {width:70%;text-align: left !important;}
.two-column-layout .col2 {width:30%;}
}

/* Two Column Layout all Classes */


.two-column-layout .col1 h2:first-child {font-size: 1.5rem;}
.two-column-layout .col1 h2 {font-size: 1.23rem;}
.two-column-layout .col1 h2 span {font-weight:600 !Important;}
.two-column-layout .col1 h2:first-child {border-left:2px solid #ffda23; padding-left:1rem;}
.two-column-layout .col1 h2 strong {font-weight:600;}

@media only screen and (min-width:1200px) {
.two-column-layout .col1 h2:first-child {font-size: 1.65rem;}
.two-column-layout .col1 h2 {font-size: 1.33rem;}
}

.two-column-layout .col1 blockquote {padding-left:0;margin-left:0;margin-bottom:2rem;}


/* Form */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
  font-size:.75rem
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666;
}

input, select {font-size: .75rem;border:none;border-radius:.25rem;color: #666;max-width:100%;width: 100%;height: 2.75rem;line-height: 2.75rem;text-indent: .30rem;border: 1px solid #cdcdcd;}
textarea {border:1px solid #cdcdcd;width:100%;border-radius:.25rem;padding:.70rem;font-family: inherit;color: #666;font-size: .75rem;margin-bottom: 0;line-height: normal;}

.input-container {margin-bottom:.9rem;position: relative;}
.input-container.phone {display:flex;/* column-gap:.9rem; */flex-direction: row;flex-wrap: wrap;}
.input-container.phone .validation {flex-grow:1;width:100%;}
.input-container.phone select {width: 6.5rem;text-indent: 0;padding-left: .1rem;}
.corporate-query-form .input-container.phone select {background: #f0f0f0;}
.input-container.phone input:first-child {width: 3rem;margin-right: .9rem;}
.input-container.phone input:nth-child(2) {flex-basis:0;flex-grow:1;}

input[type="submit"] {padding:0;border:0;}
input[type="submit"].btn {width:auto;text-indent:0;padding-left:1rem;padding-right:1rem;cursor:pointer;transition:all 0.5s ease 0s;}
input[type="submit"].btn:hover {color:#fff;}

/* Input tag display fix for iPhone and iPads */
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/* Typography Units */

h1, .h1 {color:#0652a4;font-weight: 700;line-height:1.15;font-size:1.35rem;}
h1:after {content:" ";display:block;height:2px;background-color:#ffda23;width: 7rem;margin-top:1rem;margin-bottom:1rem;}
h1.text-left:after {display:none;}


p {font-size:.8rem;margin-bottom: 1.5rem;color:#555;}
li {color: #666;}

h2, .h2 {color:#0652a4;font-weight: 700;line-height:1.15;font-size: 1.30rem;margin-bottom: 1.5rem;}
h2:after {content:" ";display:block;height:2px;background-color:#ffda23;width: 100px;margin-top:1rem;margin-bottom:1rem;margin-left: auto;margin-right: auto;}

h3, .h3 {color:#0652a4;font-weight: 600;line-height:1.15;font-size: 1.20rem;margin-bottom: 1.5rem;}
h4, .h4 {color:#0652a4;font-weight: 600;line-height:1.15;font-size: 1.19rem;margin-bottom: 1rem;}
h4 strong, .h4 strong {font-weight:600;}

.two-column-layout h2:after, .two-column-layout h3:after, .two-column-layout h4:after, .two-column-layout h5:after {display:none;}

@media only screen and (min-width:1200px) {
h1, .h1 {font-size: 2.35rem;line-height: 1.35;/* font-weight: 500; */}	
h2, .h2 {font-size: 2.05rem;line-height: 1.35;font-weight: 600;}	
p {font-size: .95rem;line-height: 1.45;/* letter-spacing: .15px; */text-rendering: optimizelegibility;}	
}

/* Titles */
p.page-title {}
p.page-title:after {content: " ";
    display: block;
    height: 2px;
    background-color: #ffda23;
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;}

.title-left-bordered {font-size:1.5rem;position:relative;border-left: 2px solid #ffda23;padding-left: .7rem;margin-bottom: 1.75rem;line-height: 1;}
.title-left-bordered:after {display:none;}

@media only screen and (min-width:768px) {
.title-left-bordered {font-size:1.75rem;}
}

@media only screen and (min-width:1200px) {
.title-left-bordered {margin-bottom:2.5rem;}
}

/* Headings Inside Section */
.subpage .section h2 {/* font-size: 1.25rem; */}
.subpage .section h2:after {display:none;}
@media only screen and (min-width:768px) {
.subpage .section h2 {/* font-size: 1.25rem; */}
}
@media only screen and (min-width:1200px) {
.subpage .section h2 {/* font-size: 1.70rem; *//* margin-bottom: 4rem; */}
}

.subpage .section h3 {
    margin-top: 1.5rem;
}
.subpage .section h3:after {display:none;}
@media only screen and (min-width:768px) {
.subpage .section h3 {
    /* padding: 0; */
    /* margin: 0; */
}
}
@media only screen and (min-width:1200px) {
.subpage .section h3 {
    margin-top: 0;
    font-size: 1.20rem;
}
}

/* Figure */

figure {margin:0;padding:0;}
section figure {margin-top:2rem;margin-bottom:2rem;}

/* Global Bullets */

.two-column-layout {}
.two-column-layout > ul li {position: relative;}
.two-column-layout > ul li:before {
    content: "";
    background-image: url(../images/bullet-arrow-orange.svg);
    width: 12px;
    height: 27px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 1.75;
    top: .35rem;
}

/* Bullet Boxes */

.two-column-layout .col1 > ul li {position:relative;padding-left: 1.35rem;line-height: 1.5;}
.two-column-layout .col1 > ul li:before { content: ""; background-image: url(../images/bullet-arrow-orange.svg); width: 12px; height: 27px;  position: absolute; left: 0; background-repeat: no-repeat;
    background-position: center top; line-height: 1.75; top: .35rem;}

/* Bullet Box with List */

.bullet-box-list ul li {position:relative;position: relative;padding-left: 1rem;font-size: .8rem;line-height: 1.75;break-inside: avoid-column;}
.bullet-box-list ul li:before {
    content: "";
    background-image: url(../images/bullet-arrow-orange.svg);
    width: 12px;
    height: 27px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 1.75;
    top: .40rem;
    }

/* Bullet Box List */
.bullet-box-list {margin-top: 2rem;margin-bottom: 2rem;}
.bullet-box-list ul {margin-bottom:1rem;}
.bullet-box-list ul li:before {
    content: "";
    background-image: url(../images/bullet-arrow-orange.svg);
    width: 12px;
    height: 27px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 1.75;
    top: .40rem;
    }

.bullet-box-list ul li {font-size: .95rem;line-height: 1.5;margin-bottom: 0.25rem;}	

/* Bullet Box with BG */

.bullet-box-with-bg {margin-bottom: 1rem;}
.bullet-box-with-bg h2, .bullet-box-with-bg h3, .bullet-box-with-bg h4, .bullet-box-with-bg h5, .bullet-box-with-bg h6 {color:#666;font-size:.9rem !important;margin-bottom: 1rem;}
.bullet-box-with-bg > h2, .bullet-box-with-bg > h3, .bullet-box-with-bg > h4, .bullet-box-with-bg > h5, .bullet-box-with-bg > h6 {color:#0652a4 !important;}
.bullet-box-with-bg > ul {padding: 2rem;background:#f7f7f7;border-radius: .35rem;border: 1px solid #f1f1f1;}
.bullet-box-with-bg > ul li {position: relative;padding-left: 1rem;font-size: .80rem;line-height: 1.75;break-inside: avoid-column;margin-bottom: .65rem;}
.bullet-box-with-bg > ul li .heading {margin-bottom:.35rem;font-size: .85rem;}
.bullet-box-with-bg > ul li p {line-height:1.35;/* margin-bottom: 0; */} 
.bullet-box-with-bg > ul li a:hover {color:#0652a4;}
.bullet-box-with-bg > ul li:before {
    content: "";
    background-image: url(../images/bullet-arrow-orange.svg);
    width: 12px;
    height: 27px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 1.75;
    top: .40rem;
    bottom: 0;
}
@media only screen and (min-width:768px) {
.bullet-box-with-bg h2, .bullet-box-with-bg h3, .bullet-box-with-bg h4, .bullet-box-with-bg h5, .bullet-box-with-bg h6 {font-size: .95rem !important;}	
.bullet-box-with-bg > h2, .bullet-box-with-bg > h3, .bullet-box-with-bg > h4, .bullet-box-with-bg > h5, .bullet-box-with-bg > h6 {font-size: 1.15rem !important}
.bullet-box-with-bg > ul {column-count:2;flex-direction: row;column-gap: 2rem;padding-top: 3rem;}
.bullet-box-with-bg > ul li {
    font-size: .9rem;
}
.bullet-box-with-bg > ul li a {}
.bullet-box-with-bg {margin-top: 1.5rem;margin-bottom: 1.5rem;}	
}
@media only screen and (min-width:1200px) {
.bullet-box-with-bg {border-radius: .3rem;margin-bottom: 1.5rem;}
.bullet-box-with-bg > ul li {line-height: 1.50;}
.bullet-box-with-bg > ul li a { font-size: .90rem;}
}

/* Bullet Box without Bg */

.bullet-box-without-bg {margin-bottom: 1.5rem;margin-top: 1.5rem;}
.bullet-box-without-bg  ul li {position:relative;position: relative;padding-left: 1rem;font-size: .8rem;line-height: 1.75;break-inside: avoid-column;}
.bullet-box-without-bg ul li:before {
    content: "";
    background-image: url(../images/bullet-arrow-orange.svg);
    width: 12px;
    height: 27px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 1.75;
    top: .40rem;
    }

@media only screen and (min-width: 768px) {
.bullet-box-without-bg ul {column-count: 2;flex-direction: row;column-gap: 2rem;}	
}
@media only screen and (min-width: 768px) {
.bullet-box-without-bg ul li {font-size: .95rem;line-height: 1.5;margin-bottom: 0.35rem;}
}

/* Bullet Box: Most Popular */

.bullet-box-most-popular {margin-bottom: 1.5rem;}
.bullet-box-most-popular h3 {color:#ff903b;margin-bottom: 1.5rem;margin-top: 1.5rem;}
.bullet-box-most-popular ul {background:#f7f7f7;padding:1rem}
.bullet-box-most-popular ul {position: relative;padding-left: 1rem;line-height: 1.75;break-inside: avoid-column;}
.bullet-box-most-popular ul li {position:relative;padding-left:1rem;font-size: .8rem;}
.bullet-box-most-popular ul li a {font-size: .8rem;}
.bullet-box-most-popular ul li:before { content: ""; background-image: url(../images/bullet-arrow-orange.svg); width: 12px; height: 27px; position: absolute; left: 0; background-repeat: no-repeat;
    background-position: center top; line-height: 1.75; top: .35rem;}

.bullet-box-most-popular ul li a {font-size: .8rem;}

@media only screen and (min-width: 768px) {
.bullet-box-most-popular ul {padding: 3rem 3rem 2.5rem;}
.bullet-box-most-popular ul { column-count: 2; flex-direction: row;}					 
.bullet-box-most-popular ul li {font-size: .95rem;margin-bottom: .20rem;}
.bullet-box-most-popular ul li a {font-size: .97rem;}
}                        

@media only screen and (min-width: 1200px) {
.bullet-box-most-popular ul li a {font-weight:500;}
}

/* Highlight Box */

.highlight-box {background: #f7f7f7;padding: .75rem;margin-bottom: 1rem;font-weight: 500;font-size: .95rem;color: #555;border-radius: .35rem;border: 1px solid #f1f1f1;}
@media only screen and (min-width:768px) {
.highlight-box{ padding: 1.25rem; margin-bottom: 1.5rem;}
}
@media only screen and (min-width:1200px) {
.highlight-box{ font-size: 1.05rem; font-weight: 500; margin-bottom: 2rem;}
}


/* Utility Classes */


/* List Block Layouts */

.list-block {display:grid;grid-gap: 1rem;}

.list-block.xs1 {grid-template-columns: repeat(1, 1fr);}
.list-block.xs2 {grid-template-columns: repeat(2, 1fr);}
.list-block.xs3 {grid-template-columns: repeat(3, 1fr);}
.list-block.xs4 {grid-template-columns: repeat(4, 1fr);}
.list-block.xs5 {grid-template-columns: repeat(5, 1fr);}

@media only screen and (min-width:576px) {
.list-block.sm1 {grid-template-columns: repeat(1, 1fr);}
.list-block.sm2 {grid-template-columns: repeat(2, 1fr);}
.list-block.sm3 {grid-template-columns: repeat(3, 1fr);}
.list-block.sm4 {grid-template-columns: repeat(4, 1fr);}	
.list-block.sm5 {grid-template-columns: repeat(5, 1fr);}	
}

@media only screen and (min-width:768px) {
.list-block.md1 {grid-template-columns: repeat(1, 1fr);}
.list-block.md2 {grid-template-columns: repeat(2, 1fr);}
.list-block.md3 {grid-template-columns: repeat(3, 1fr);}
.list-block.md4 {grid-template-columns: repeat(4, 1fr);}
.list-block.md5 {grid-template-columns: repeat(5, 1fr);}
}

@media only screen and (min-width:992px) {
.list-block.lg1 {grid-template-columns: repeat(1, 1fr);}
.list-block.lg2 {grid-template-columns: repeat(2, 1fr);}
.list-block.lg3 {grid-template-columns: repeat(3, 1fr);}
.list-block.lg4 {grid-template-columns: repeat(4, 1fr);}
.list-block.lg5 {grid-template-columns: repeat(5, 1fr);}
}

@media only screen and (min-width:1200px) {
.list-block.xl1 {grid-template-columns: repeat(1, 1fr);}
.list-block.xl2 {grid-template-columns: repeat(2, 1fr);}
.list-block.xl3 {grid-template-columns: repeat(3, 1fr);}
.list-block.xl4 {grid-template-columns: repeat(4, 1fr);}
.list-block.xl5 {grid-template-columns: repeat(5, 1fr);}
}




/* Text Alignment */
.text-center {text-align:center;margin-left: auto;margin-right: auto;}
.text-center:after {margin-left:auto;margin-right:auto;}

.text-left {text-align:left;}
.text-left:after {margin-left:0;margin-right:auto;}

.blue-bg {background:#0454A1;color: #fff;border: none;}
.blue-bg:hover {background:#ffda23 !important;color: #555 !important;}
.orange-bg {background: #FF6C2B !important;color:#fff;margin-bottom: 0;}
.orange-bg:hover {background:#ffda23 !important;color: #555 !important;}
.yellow-bg {background:#ffda23;color: #555;font-weight: 500;}


/* Buttons */
.btn {color:#fff;padding: .55rem .75rem;font-size:.75rem;border-radius:.15rem;display: inline-flex;gap: .65rem;align-items: center;}
.btn-wrapper {margin-top: .5rem;}

.btn.blue-bg:hover {background: #527bd3;color: #fff;}
.btn.orange-bg:hover {background: #ffda23;color: #555;}
.btn.yellow-bg {color:#555;font-size:.75rem;font-weight:600;}
.btn.yellow-bg:hover {background: #ff903b;color: #fff;}

@media only screen and (min-width:768px) {
.btn {padding:.65rem .95rem;}	
}
@media only screen and (min-width:1200px) {
.btn {padding: .85rem 1.5rem;font-size: .93rem;font-weight: 500;}	
}




/*Text Colors*/
.blue-text {color:#0454A1;}
.yellow-text {color:#ffda23;width: 100%;}
.orange-text {color: #FF6C2B !important;}
.orange-text a {color: #FF6C2B !important;}
.gray-text {color: #888;}

/* Breadcrumbs */
.breadcrumbs {margin-top: 1.5rem;}
.breadcrumbs ul {display:flex;/* column-gap: 1.5rem; */flex-wrap: wrap;row-gap: .35rem;}
.breadcrumbs ul li {font-size: .9rem;position: relative;margin-right: 1rem;/* margin-left: .9rem; */}
.breadcrumbs ul li img {margin-left:.35rem;margin-right:.35rem;}
.breadcrumbs ul li:first-child {margin-left:0}
.breadcrumbs ul li a {font-size: .9rem;}
.breadcrumbs ul li:before {
    content: '';
    background-image: url(../images/bullet-arrow.svg);
    width: 6px;
    height: 10px;
    right: -10px;
    top: 1px;
    background-repeat: no-repeat;
    bottom: 0;
    margin: auto;
    position: absolute;
    background-size: contain;
    display: block;
}
.breadcrumbs ul li:last-child:before {display:none;}
@media only screen and (min-width:1200px) {
.breadcrumbs {/* margin-left:-15px; *//* margin-right:-15px; */}	
}

.sidebar-links1 .heading {transition:all 0.25s ease 0s;}
.sidebar-links1 .heading {background:#ff903b;color:#fff;height:40px;line-height:40px;padding-left:1rem;margin-bottom: 0;border-top-left-radius: .3rem;border-top-right-radius: .3rem;font-size: .95rem !important;}
.sidebar-links1:hover .heading {background:#ffda23;color:#666;}
.sidebar-links1 .description {background:#f7f7f7;padding: 1rem;font-size: .8rem;border-bottom-left-radius: .3rem;border-bottom-right-radius: .3rem;}
.sidebar-links1:hover .description {/* background:#f0f0f0; */}
.sidebar-links1 .heading:after {display:none;}

/* Modal Window */

.modal-open {cursor:pointer;}
.modal-window {position:fixed;width: 100%;height: 100%;z-index:100;transition:all 0.35s ease 0s;left:0;right:0;top:0;bottom:0;margin:auto;opacity:0;visibility:hidden;display: flex;z-index: 1000 !important;}
.modal-content {padding:1.5rem;background:#fff;top:50%;position:absolute;left:0;right:0;top:0;bottom:0;width:300px;height:300px;margin:auto;border-radius: .3rem;}
.modal-content .btn-wrapper {margin-bottom: 0}
.modal-window:after{content: " ";position: fixed;width: 100%;height: 100%;background: #000;opacity:0.5;left: 0;top: 0;z-index: -1;}
.show-modal {opacity:1 !important;visibility:visible;z-index: 1000 !important;}
.modal-overflow-hide {overflow-y:hidden;}
.modal-close {width: 1.35rem;height: 1.35rem;position: absolute;cursor:pointer;top: 1rem;right: 1rem;/* border: 1px solid yellow; */}
.modal-close span:first-child {height: 2px;background: #fff;display: block;transform: rotate(45deg);position: absolute;top: 0;width: 1.70rem;transform-origin: bottom left;}
.modal-close span:last-child {height: 2px;background: #fff;display: block;transform: rotate(-45deg);position: absolute;top: 1.20rem;width: 1.75rem;transform-origin: bottom left;left: .05rem;}
/*transform issue fix css*/
.remove-transform {transform: initial !important;}

/* Modal: Request A Callback */

.modal-content.request-a-callback {height: auto;position: relative;background: #0652a4;z-index: 1000 !important;}
.modal-content.request-a-callback .title {font-size:1rem;text-align:left;width:80%;margin-left: 0;margin-right:auto;color: #fff;}
.modal-content.request-a-callback .title:after {display:none;}

@media only screen and (min-width:1200px) {
.modal-content.request-a-callback {width: 25rem;padding: 2rem !important;}
}

/* Course Search Box */
.course-search-box {position:relative;}

/* Web Font */
/* thin */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-thin.woff2') format('woff2'),
         url('../fonts/roboto-thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
				font-display: swap;
}

/* thin italic*/
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-thin-italic.woff2') format('woff2'),
         url('../fonts/roboto-thin-italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
				font-display: swap;
}

/* light */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
				font-display: swap;
}

/* light-italic */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light-italic.woff2') format('woff2'),
         url('../fonts/roboto-light-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
				font-display: swap;
}

/* regular */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
				font-display: swap;
}

/* regular italic */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-italic.woff2') format('woff2'),
         url('../fonts/roboto-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
				font-display: swap;
}

/* semibold */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-semibold.woff2') format('woff2'),
         url('../fonts/roboto-semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
				font-display: swap;
}

/* semibold italic */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-semibold-italic.woff2') format('woff2'),
         url('../fonts/roboto-semibold-italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
				font-display: swap;
}

/* bold */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
				font-display: swap;
}

/* bold italic */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold-italic.woff2') format('woff2'),
         url('../fonts/roboto-bold-italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
				font-display: swap;
}

/* black */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-black.woff2') format('woff2'),
         url('../fonts/roboto-black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
				font-display: swap;
}

/* black italic */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-black-italic.woff2') format('woff2'),
         url('../fonts/roboto-black-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
				font-display: swap;
}

/* Fluidity */
@media only screen and (min-width:1200px) {
.fluid {width:100% !important;padding-left: 5rem !important;padding-right: 5rem !important;}
}





/* AOS */

[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
    transition-duration: .7s;
}

[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos="fade-up"] {
    transform: translate3d(0, 50px, 0);
}


/* Site Header */

.site-header {position:relative;z-index: 100;}
.site-header .container-fluid {display: flex;flex-direction: column;padding: 0;}
.site-header .container-fluid .block1 {display: flex;flex-direction: row;flex-wrap: wrap;flex-grow: 1;}
.site-header .header-logo-wrapper {display: flex;margin-left: .95rem;margin-bottom: .75rem;/* justify-content: flex-start; *//* width: auto; */order: 2;}
.site-header .header-logo {width: 100px;height: auto;}

@media only screen and (min-width:576px) {
.site-header .container-fluid .block1 { column-gap: 2rem;margin-top: 1rem;}
.site-header .request-callback-phone {flex-basis: initial;order: 2;width: 410px;flex-grow: initial;}	
.site-header .container-fluid .block2 .navigation-trigger {top: .9rem;}
}


@media only screen and (min-width:1200px) {
.site-header .container-fluid {flex-direction: column;}
.site-header .container-fluid .block1 {width: 1160px;margin: 0 auto;flex-direction: row;height: 5rem;align-items: center;flex-wrap: nowrap;justify-content: space-between;}
.site-header .header-logo-wrapper {order:1;width: 10rem;margin-left: 0;margin-bottom: 0;margin-right: 20px;height: auto;align-items: flex-start;}
.site-header .header-logo {width: auto;height: 2.75rem;image-rendering: initial;}
.site-header .search-container {order:2;margin: 0;flex-grow: initial;height: 100%;margin-right: 20px;padding-left: 1.5rem;padding-right: 1.5rem;padding-bottom: 0;padding-top: 0;border-radius: 0;flex-basis: 50rem;}
.site-header .request-callback-phone {order:3;margin-bottom: 0;}

}

/* GrayFilled Search Box */

.site-header .gray-filled-searchbox {/* background:none; */}
.site-header .gray-filled-searchbox form {/* border:1px solid #e5e5e5; */}
.site-header .gray-filled-searchbox .search-field {/* background:#e9e9e9; *//* border-top-right-radius: 0; *//* border-bottom-right-radius: 0; */}
.site-header .gray-filled-searchbox .search-button {/* background:#e9e9e9; */}
 
/* Request Call Back & Phone */
.request-callback {cursor:pointer;}
.request-callback-phone {display: flex;position: relative;margin-bottom: 10px;flex-grow: 1;order: 1;flex-basis: 100%;height: auto;width: 100%;}
.request-callback-phone .request-callback {background:#ff903b;color: #fff;text-decoration: none;/* flex-grow: 1; */flex-basis: 50%;font-size: .80rem;display: flex;justify-content: center;align-items: center;height: 2.5rem;/* position: absolute; *//* right: 0; *//* top: 35px; *//* margin-top: 10px; */padding-left: 1.15rem;padding-right: 1.15rem;/* margin-right: 10px; *//* border-radius: 3px; */font-weight: 500;white-space: nowrap;cursor: pointer;/* width: 50%; */line-height: 2.5rem;}
.request-callback-phone .request-callback:hover {background: #fdb254;color: #fff;}
.request-callback-phone > .phone {background:#527bd3;color: #fff;text-decoration: none;display: flex;align-items: center;justify-content: center;height: 2.5rem;font-size: .80rem;font-weight: 500;padding-left: 1.25rem;padding-right: 1.25rem;width: 50%;}
.request-callback-phone > .phone:hover {background:#0652a4;}
.request-callback-phone > .phone .header-phone {margin-right:.45rem;width: .75rem;/* object-fit: none; *//* height: 20px; *//* object-position: 0 0; */}
.request-callback-phone > .phone .phone-wrapper {display: flex; flex-direction: column; /* gap: 2rem; */}
.request-callback-phone > .phone .phone-wrapper a {color:#fff;text-decoration:none;font-size: .8rem;}
.request-callback-phone .phone span {display:flex;}

@media only screen and (min-width:1200px) {
.request-callback-phone {order:initial;}
.request-callback-phone .request-callback {height: 3.25rem;/* width: 180px; */font-size: .80rem;/* font-weight: 600; */letter-spacing: 0;font-weight: 500;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.request-callback-phone .phone {height: auto;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
}

/* Search Box */
.search-container {background:#efefef;padding: 7px;margin-left: .95rem;margin-right: .95rem;border-radius: .3rem;margin-bottom: .95rem;display: flex;align-items: center;flex-grow: 1;order: 3;flex-basis: 100%;/* border: 1px solid orange; */}
.search-container .form {position:relative;display: flex;flex-grow:1;border-radius: .5rem;}
.search-container .search-button {border:0;background: #fff;cursor: pointer;border-top-right-radius: .25rem;border-bottom-right-radius: .25rem;}
.search-container .search-field {
    height: 2rem;
    flex-grow: 1;
    border: none;
    text-indent: 10px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border: none;
    outline: none;
    letter-spacing: -0.15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 2rem;
}
.search-container .search-field:focus {background: #fff;}
.search-container .search-field:active {background: #fff;}

@media only screen and (min-width:1200px) {
.search-container {order:2;margin: 0;flex-grow: initial;height: 90px;margin-right: 20px;padding-left: 25px;padding-right: 25px;padding-bottom: 0;padding-top: 0;border-radius: 0;flex-basis: 620px;}
.search-container .search-field {height: 2.70rem;}
}


/* Auto Complete Style */
.autocomplete-container-one { width: 300px;}
.autocomplete-input { background: white; -moz-appearance: none; -webkit-appearance: none;  width: 100%;
padding: 20px 15px; border: pink; outline: none; color: black; font-size: 20px; border:1px solid #cdcdcd;}
.autocomplete-input-one:-webkit-placeholder { color: grey;}
.autocomplete-input-one::-moz-placeholder { color: grey;}
.autocomplete-results {display: none;width: 100%;margin-top: 3px;color: #666;padding:0;list-style:none;margin-bottom:0;position:absolute;top: 100%;background: #fafafa;border-radius: .35rem;z-index: 2;}
.autocomplete-results li {width: 100%;padding: 7px 15px;border-right: 1px solid #dcdcdc;border-bottom: 1px solid #ececec;border-left: 1px solid #dcdcdc;font-size: .9rem;}
.autocomplete-results li:first-child {border-top-right-radius: .25rem;border-top: 1px solid #dcdcdc;}
.autocomplete-results li:first-child {border-top-left-radius: .25rem;}
.autocomplete-results li:last-child {border-bottom-left-radius: .25rem;}
.autocomplete-results li:last-child {border-bottom-right-radius: .25rem;}
.autocomplete-results li:hover {background: #fff;color: #666;}





/* Navigation  */

/* Navigation Trigger */

.navigation-trigger {display: inline-block;font-size: .90rem;color:#fff;width: 45px;height: 40px;cursor:pointer;position: absolute;top: 40px;right: 10px;}
.navigation-trigger:hover {opacity: 0.7;}
.navigation-trigger.active:hover {opacity: 0.7;}
.navigation-trigger.active .navigation-trigger-inner,
.navigation-trigger.active .navigation-trigger-inner::before,
.navigation-trigger.active .navigation-trigger-inner::after {background-color: #0652a4;}
.navigation-trigger-box {width:45px;height:40px;display:flex;position:relative;justify-content:center;align-items:center; }
.navigation-trigger-inner {display: block; top: 45%;}
.navigation-trigger-inner, .navigation-trigger-inner::before, .navigation-trigger-inner::after {width: 35px;height: 4px;background-color: #0652a4;border-radius: 4px;position: absolute;transition-property: transform;transition-duration: 0.35s;transition-timing-function: ease;}
.navigation-trigger-inner::before, .navigation-trigger-inner::after {content: "";display: block; }
.navigation-trigger-inner::before {top: -10px;}
.navigation-trigger-inner::after {bottom: -10px;}
.navigation-trigger-slider-r .navigation-trigger-inner::before {transition: all 0.35s ease-out 0s;}
.navigation-trigger-slider-r .navigation-trigger-inner::after {top: 10px;}
.navigation-trigger-slider-r.active .navigation-trigger-inner {transform: translate3d(0px, 0px, 0px) rotate(-45deg);}
.navigation-trigger-slider-r.active .navigation-trigger-inner::before {transform: rotate(45deg) translate3d(3.71429px, 0px, 0);opacity: 0;}
.navigation-trigger-slider-r.active .navigation-trigger-inner::after {transform: translate3d(0px, -10px, 0) rotate(90deg);}


/* First Level Menu */
.dropdownmenu {display:none;}
.dropdownmenu > ul {display:flex;flex-direction: column;}
.dropdownmenu > ul > li {height:auto;transition:all 0.35s ease;/* border: 1px solid red; */}
.dropdownmenu > ul > li.active > a {background: #ffda23;color: #555;}
.dropdownmenu > ul > li.active > a:hover {color: #fff;}
.dropdownmenu > ul > li a {background: #0652a4;color: #e7e7e7;height: 45px;line-height: 45px;font-size: .7255rem;padding-left: 1rem;/* padding-right: 23px; */box-sizing:border-box;display:block;/*transition:all 0.25s ease*/flex-grow: 1;font-weight: 500;/* font-family: 'opensans-semibold'; */letter-spacing: 0.25px;text-transform: uppercase;white-space: nowrap;}
.dropdownmenu > ul > li.hassubmenu > a {padding-right: 20px;}
.dropdownmenu > ul li a:hover {background: #527bd3;}

.hassubmenu {position:relative;}
.hassubmenu .trigger {position:absolute;width:30px;top:0;right:0;height: 45px;}
.hassubmenu > .trigger:after {content: "";color: #777;font-weight: bold;position: absolute;top: 1px;right: 11px;width: 11px;height: 8px;display: flex;justify-content: center;align-items: center;cursor:pointer;background-image: url(../images/navigation-arrow-white.svg);background-repeat: no-repeat;bottom: 0;margin: auto;z-index: 1;/* background-size: 9px; */}
.hassubmenu.active > .trigger:after {content: "";color: #777;font-weight: bold;position: absolute;top: 1px;right: 11px;width: 11px;height: 8px;display: flex;justify-content: center;align-items: center;cursor:pointer;background-image: url(../images/navigation-arrow-black.svg);background-repeat: no-repeat;bottom: 0;margin: auto;z-index: 100;/* background-size: 9px; */}
.hassubmenu > .trigger.active:after {
transform:rotate(180deg);
}

/* second level <li> tag changed to 'position:relative' to get its child <ul> equal to top of it */
.submenu {/*transition:all 0.5s ease;*/}

.dropdownmenu > ul li > ul li {position:relative;clear:left;width:100%;/* border-bottom: 1px solid #f7f4f4; */}
.dropdownmenu > ul li > ul li.hassubmenu .trigger:after {background-image: url(../images/navigation-arrow-dark.svg);background-size: 9px;}

.dropdownmenu > ul li > ul li a {transition:none !important;background: #f3f3f3;color: #666;padding-right:40px;flex-grow: 1;white-space: nowrap;height: 2rem;line-height: 2rem;text-transform: capitalize;padding-left: 1.15rem;} /* color of second level menu */
.dropdownmenu > ul li > ul li a:hover {background: #f1f1f1;color: #777;} /* color of second level menu */
.dropdownmenu > ul li > ul li > ul li a {background: #fcfcfc;}

@media screen and (min-width:1200px) {
.navigation {background:#0652a4;}
.navigation-trigger {display:none;}	
.hassubmenu .trigger {position: absolute;display: flex;align-items: center;justify-content: center;width: 0;top: 0;bottom: 0;margin: auto;}	
.hassubmenu .trigger:after {position:absolute;}	
	
.hassubmenu {position:initial;} /* this removes li position relative  so that its child <ul> gets full width */	
.dropdownmenu > ul > li.hassubmenu > .submenu {height:auto !Important;top: 100%;/* min-width: 173px; */width: auto;/* box-shadow: 1px 3px 6px rgba(0,0,0,0.15); *//* border: 1px solid #e0e0e0; */} /* this helps to make height auto to overide height 0 which is set by js for mobile */
.dropdownmenu > ul li > ul li.hassubmenu .trigger:after	{transform:rotate(-90deg);background-size: 9px;}
.dropdownmenu > ul li > ul li a {background:#fff;font-size: .80rem;text-transform: capitalize;}
	
/* First Level Menu */	
.dropdownmenu {display:block;/* width: 1160px; */margin:0 auto;padding-left: 5rem;padding-right: 5rem;}
.dropdownmenu > ul {display:flex;flex-direction: row;justify-content: space-between;}	

.dropdownmenu > ul > li	{display:flex;position: relative;column-gap: 0;/* border: 1px solid red; */flex-grow: 1;text-align: center;}
.dropdownmenu > ul > li a {height: 3.5rem;line-height: 3.5rem;padding-left: 0;}
.dropdownmenu > ul li > ul li {display:flex;flex-grow: 1;text-align: left;}
.dropdownmenu > ul li ul {opacity:0; visibility:hidden; position:absolute; /*transition:all 0.35s ease;*/}
.dropdownmenu > ul li:hover > ul {opacity:1;visibility:visible;position:absolute;transition:all 0.10s ease;width: auto;padding: 0;}
.dropdownmenu > ul ul ul {left:100%;top: -1px;width:100%;}

/* Second Level Menu */
.dropdownmenu > ul li > ul li ul {border: 1px solid #e0e0e0;box-shadow: 1px 3px 6px rgba(0,0,0,0.15);}

/* Submenu */
.submenu {display:initial !important;} /* overiding display none of submenu done for mobile */
}


/* Accreditation Brands */
.accreditation-brands {position: absolute;z-index: 100;bottom: 2.5rem;display:flex;margin: auto;right: 1rem;left: 1rem;}
.accreditation-brands a {display: block;border-right: 1px solid #ffda23;padding-right: 1rem;padding-left: 1rem;}
.accreditation-brands a:first-child {padding-left:0;}
.accreditation-brands a:last-child {padding-right:0;border-right:0;}
.accreditation-brands a:nth-child(2) img {height: 27px;}
.accreditation-brands a img {height: 2rem !important;width: auto !important;/* padding-right: 1rem; *//* padding-left: 1rem; */}


.subpage-banner.detailed .accreditation-brands {position: initial;margin: initial;width: 100%;justify-content: left;margin-top: 1rem;}

@media only screen and (min-width:1200px) {
.accreditation-brands {width: 100%;left: initial;right: 5rem;justify-content:flex-end;margin-bottom:3rem;z-index: 20;bottom: 35px;top: initial;}	
.accreditation-brands a {padding-left:1.65rem;padding-right:1.65rem;}
.accreditation-brands a:nth-child(1) img {/* height: 33px; */}
.accreditation-brands a img {/* height: 30px; */}

.subpage-banner.detailed .accreditation-brands {position: absolute;bottom: 0;justify-content: flex-end;/* border: 2px solid red; */left: 0;}

}






/* Course Enquiry Box */
.course-enquiry-box {margin-bottom:1rem;}
.course-enquiry-box input, .course-enquiry-box select {border:none;}
.course-enquiry-box .form-container {background-color: #527bd3;padding: 1.2rem;border-radius: .35rem;}
.course-enquiry-box .title {color: #0652a4;font-weight:600;font-size:1rem;text-align: center;}

@media only screen and (min-width:1200px) {
.course-enquiry-box {margin-bottom:2rem;/* width: 30rem; */}	
.course-enquiry-box .form-container {padding:2rem;}
.course-enquiry-box .title {font-size:1.25rem;margin-bottom:1rem;}
}

.subpage .course-enquiry-box .title {background:#ffda23;margin-bottom: 0;height: 50px;line-height: 50px;padding-left: 2rem;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #666;padding-left: 0;}
.subpage .course-enquiry-box .form-container {border-top-left-radius:0;border-top-right-radius:0;}

/* Site Footer */
.site-footer {}
.site-footer .block1 {background:#0652a4;padding-top: 3.5rem;padding-bottom: 3.5rem;}
.site-footer .block1 .container {text-align:center;}
.site-footer .block1 .logo {text-align: center;margin-bottom: 1rem;} 
.site-footer .block1 .logo .footer-logo {height: 3rem;width: auto;}
.site-footer .block1 .address {color:#fff;margin-bottom: 1rem;text-align: center;}
.site-footer .block1 .address p {color:#fff;font-size: .77rem;line-height: 1.25;}
.site-footer .block1 .contacts {}
.site-footer .block1 .phone {margin-bottom: .75rem;display: flex;flex-direction: column;}
.site-footer .block1 .phone .numbers {display: flex;text-align: center;flex-direction: column;align-items: center;}
.site-footer .block1 .phone .numbers:first-child {margin-bottom: 1rem;}
.site-footer .block1 .phone .numbers img {width: 1rem;margin-bottom: .25rem;}
.site-footer .block1 .phone .numbers a {color:#fff;}
.site-footer .block1 .email { text-align: center;}
.site-footer .block1 .email img {width:.95rem;}
.site-footer .block1 .email-box {}
.site-footer .block1 .email-box a {color:#fff;}
.site-footer .block1 .social-medias {display: flex;margin-top: 1rem;justify-content: center;align-items: center;align-content: center;}
.site-footer .block1 .social-medias a:first-child {border-top-left-radius:.3rem;}
.site-footer .block1 .social-medias a:first-child {border-bottom-left-radius:.3rem;}
.site-footer .block1 .social-medias a:last-child {border-top-right-radius:.3rem;}
.site-footer .block1 .social-medias a:last-child {border-bottom-right-radius:.3rem;}
.site-footer .block1 .social-medias a {height: 3rem;display: flex;width: 3rem;justify-content: center;margin-right: 1px;background: #527bd3;align-items:center;}
.site-footer .block1 .social-medias a img {height:25px;}
.site-footer .block1 .social-medias a:hover {background:#ff903b;}

.site-footer .block2{padding-left:1rem;padding-right:1rem;padding-top:2rem;padding-bottom:2rem;}
.footer-links {text-align:left;display: flex;flex-wrap: wrap;}
.footer-links .links-box {margin-bottom:2rem;flex-basis: 50%;}
.footer-links .links-box .h3 {position:relative;display: flex;padding-bottom: 1rem;margin-bottom: 2rem;font-size: 1.05rem;word-break: break-word;color: #666;}
.footer-links .links-box .h3:after {content:"";background: #ffda23;height:2px;position: absolute; width: 90px;left: 0;bottom: 0;margin-top: 0rem;}
.footer-links .links-box ul li {margin-bottom:.5rem;}
.footer-links .links-box ul li a:hover {color:#0652a4;}

.site-footer .block3 {background:#e9e9e9;height:60px;display:flex;align-items:center;text-align:center;justify-content: center;}
.site-footer .block3 .copyright {margin-bottom:0;font-size: .75rem;}

@media only screen and (min-width:768px) {
.site-footer .block1 .container-fluid {display:flex;flex-wrap:wrap;justify-content:space-between}
.site-footer .block1 .container-fluid .logo {flex-basis:100%;}
.site-footer .block1 .container-fluid .address {display:flex;align-items:flex-start;text-align:left;}
.site-footer .block1 .container-fluid .address img {margin-right:.75rem;}
.site-footer .block1 .container-fluid .contacts {display:flex;flex-direction:column;}
.site-footer .block1 .container-fluid .contacts .phone {display:flex;align-items:flex-start;text-align:left;margin-bottom: .15rem;}
.site-footer .block1 .phone .numbers {align-items: flex-start;flex-direction: row;margin-bottom: 0;}
.site-footer .block1 .phone .numbers:first-child {margin-bottom:0;}
.site-footer .block1 .phone .numbers img {margin-right:.75rem;}

.site-footer .block1 .container-fluid .contacts .email {display:flex;text-align:left;}
.site-footer .block1 .email img {margin-right:.75rem;}
.site-footer .block1 .container-fluid .social-medias {display:flex;align-items:flex-start;margin-top: 0;}

.site-footer .block2 .footer-links {justify-content: space-between;}
.footer-links .links-box {flex-basis: 26%;}

.site-footer .block1 .social-medias a {height:3.75rem;width:3.75rem}

}

@media only screen and (min-width:1200px) {
.site-footer .block1 .container-fluid {justify-content:space-between;column-gap: 4rem;padding-left: 0;padding-right: 0;}
.site-footer .block1 .container-fluid .logo {flex-basis:initial;margin-bottom: 0;}	
.site-footer .block1 .container-fluid .logo img {height: 3rem;}
.site-footer .block1 .container-fluid .address {margin-bottom:0;}
.site-footer .block1 .address p {margin-bottom:0;}
.site-footer .block1 .container-fluid .social-medias {justify-content:flex-end;}
.site-footer .block2 {/* width:1160px; */margin:0 auto;padding-top: 4rem;padding-bottom: 4rem;padding-left: 5rem;padding-right: 5rem;}
.site-footer .block2 .footer-links {grid-template-columns:repeat(6,1fr);}
.footer-links .links-box {flex-basis: auto;}
.site-footer .block3 {height:90px;}
}



/* Back to Top */
.back-to-top {
	background: #0652a4 none repeat scroll 0 0;
	bottom: 15px;
	color: white;
	font-size: 1rem;
	padding: 0;
	position: fixed;
	right: 15px;
	cursor:pointer;
	transition: all 0.35s linear 0s;
	width:40px;
	height:40px;
	opacity:0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	z-index: 50;
	display: none;
}
.show-back-to-top {
	opacity:1  !important;
	bottom: 20px;
}
.arrow-top {
	width: 17px;
	height: 15px;
}
/* Back to Top */